#your__army {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.favorite-button {
  border: none;
  color: yellow;
  background-color: var(--box-color);  
  margin: 2rem;
  font-size: 2rem;
}